/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body {
    height: fit-content;
    background-image: url('app/assets/electricidad.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}